@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&display=swap');

body{
    background-color: #1c1c24;
    color:#fff;
}

::selection {
    background-color: #fff;
    color: #282726;
}

* {
    margin: 0;
    font-family: 'Anek Devanagari', sans-serif;
    text-align: center;
    justify-content: center;
}

table, td {
    border: 5px solid #2c2c5a;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    border-collapse: collapse;
}

  input{
    border-radius: 4px;
    width: 250px;
    height: 40px;
}
.botao{
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    background-color: #2c2c5a;
    box-shadow: 0px 0px 20px 0px #2c2c5a;
    text-transform: uppercase;
    font-weight: bold;
}
.botao:hover{
    box-shadow: none;
    border: none;
    background-color: #212144;
    transform: translateY(3px);
}
input[type="file"]{
    background-color: #2c2c5a;
    border: 1px #000 solid;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #2c2c5a;
}
input[type="file"]:hover{
    box-shadow: none;
    background-color: #212144;
}